<%= provide(:title, 'Sign up') %>
<h3>Anmelden</h3>
<div class="row">
	<%= form_for(:session, url: sessions_path) do |f| %>
		<form class="form-horizontal" role="form">
		<div class="row">
			<div class="form-group">
				<label for="email" class="col-sm-2 control-label">Email</label>
				<div class="col-sm-5">
					<%= f.email_field :email, class: 'form-control' %>
				</div>
			</div>
		</div><!-- /row -->
		<div class="row">
			<div class="form-group">
				<label for="password" class="col-sm-2 control-label">Passwort</label>
				<div class="col-sm-5">
					<%= f.password_field :password, class: 'form-control' %>
				</div>
			</div>
		</div><!-- /row -->
		<br />
		<div class="row">
			<div class="form-group">
				<div class="col-sm-5 col-sm-offset-2">
					<%= f.submit "login", class: "btn btn-large btn-primary" %>
				</div>
			</div>
		</div><!-- /row -->	
	<% end %>
</div>

