<%= provide(:title, 'Sign up') %>
<h2>Anwender anlegen</h2>
<div class="row">
	<%= form_for(@user) do |f| %>
		<%= render 'shared/error_messages' %>
		<form class="form-horizontal" role="form">
		<div class="form-group">
			<label for="Name" class="col-sm-2 control-label">Name</label>
			<div class="col-sm5">
				<%= f.text_field :name %>
			</div>
		</div>
		<div class="form-group">
			<label for="email" class="col-sm-2 control-label">Email</label>
			<div class="col-sm5">
				<%= f.email_field :email, html: {type: "email", placeholder: "Email"} %>
			</div>
		</div>
		<div class="form-group">
			<label for="password" class="col-sm-2 control-label">Passwort</label>
			<div class="col-sm5">
				<%= f.password_field :password, html: {type: "password"} %>
			</div>
		</div>
		<div class="form-group">
			<label for="password_confirmation" class="col-sm-2 control-label">Passwort wiederholen</label>
			<div class="col-sm5">
				<%= f.password_field :password_confirmation, html: {type: "password"} %>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm5 col-sm-offset-2">
				<%= f.submit "speichern", class: "btn btn-large btn-primary" %>
			</div>
		</div>
	<% end %>
</div>
